/* Navigation */

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
	font-size: 30px;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

a {
	text-decoration: none;

}

a:hover {
	background-color: #f5f5f5;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}

/* Index Body */

#main-wrapper {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	position: static;
	background-color: #f5f5f5;
	padding-top: .1em;
	padding-bottom: .1em;
	padding-left: .5em;
	margin-left: 20%;
	margin-right: 20%;
	padding-left: .5em;
	margin-top: 0%;
}

#main-wrapper h1 {
	font-size: 3em;
	font-style: oblique;
}

#main-wrapper p {
	font-size: 1.5em;

}

#main-wrapper2 {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	position: static;
	background-color: #f5f5f5;
	padding-top: .1em;
	padding-bottom: .1em;
	padding-left: .5em;
	padding-right: .5em;
	margin-left: 20%;
	margin-right: 20%;
	padding-left: .5em;
	margin-top: 2%;
}

#main-wrapper2 h1 {
	font-size: 3em;
	font-style: oblique;
}

#main-wrapper2 p {
	font-size: 1.5em;

}

#main-wrapper3 {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	position: static;
	background-color: #f5f5f5;
	padding-top: .1em;
	padding-bottom: .1em;
	padding-left: .5em;
	padding-right: .5em;
	margin-left: 20%;
	margin-right: 20%;
	padding-left: .5em;
	margin-top: 2%;
}

#main-wrapper3 h1 {
	font-size: 3em;
	font-style: oblique;
}

#main-wrapper3 p {
	font-size: 1.5em;

}

#main-wrapper4 {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	position: static;
	background-color: #f5f5f5;
	padding-top: .1em;
	padding-bottom: .1em;
	padding-left: .5em;
	padding-right: .5em;
	margin-left: 20%;
	margin-right: 20%;
	padding-left: .5em;
	margin-top: 2%;
}

#main-wrapper4 h1 {
	font-size: 3em;
	font-style: oblique;
}

#main-wrapper4 p {
	font-size: 1.5em;

}

#main-wrapper5 {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	position: static;
	background-color: #f5f5f5;
	padding-top: .1em;
	padding-bottom: .1em;
	padding-left: .5em;
	padding-right: .5em;
	margin-left: 20%;
	margin-right: 20%;
	padding-left: .5em;
	margin-top: 2%;
}

#main-wrapper5 h1 {
	font-size: 3em;
	font-style: oblique;
}

#main-wrapper5 p {
	font-size: 1.5em;

}

#main-wrapper6 {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	position: static;
	background-color: #f5f5f5;
	padding-top: .1em;
	padding-bottom: .1em;
	padding-left: .5em;
	padding-right: .5em;
	margin-left: 20%;
	margin-right: 20%;
	padding-left: .5em;
	margin-top: 2%;
}

#main-wrapper6 h1 {
	font-size: 3em;
	font-style: oblique;
}

#main-wrapper6 p {
	font-size: 1.5em;

}

/* Blog-Template*/

aside {
	background-color: #f5f5f5;
	display: inline-block;
	margin-left: 80%;
	margin-right: 5%;
	padding-right: .5em;
	padding-left: .5em;
	padding-bottom: 1.5em;
	list-style: none;
}

#blog-wrapper {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	float: left;
	position: absolute;
	background-color: #f5f5f5;
	padding-top: 0px;
	margin-left: 15%;
	margin-right: 22%;
	padding-left: .5em;
}

#blog-wrapper h1 {
	font-size: 3em;
	font-style: oblique;
}

#blog-wrapper p {
	font-size: 1.5em;

}

/*Blog Post*/

#blogpost-wrapper {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	position: static;
	background-color: #f5f5f5;
	padding-top: .1em;
	padding-bottom: .1em;
	padding-left: .5em;
	padding-right: .5em;
	margin-left: 20%;
	margin-right: 20%;
	padding-left: .5em;
	margin-top: 2%;
	margin-bottom: 5%;
}

/* Picture */

#girlcoder img {
	height: 200px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Contact */

#contact-wrapper {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	position: static;
	background-color: #f5f5f5;
	padding-top: .1em;
	padding-bottom: .1em;
	padding-left: .5em;
	margin-left: 20%;
	margin-right: 20%;
	padding-left: .5em;
	margin-top: 0%;
}

#contact-wrapper h1 {
	font-size: 3em;
	font-style: oblique;
	padding-left: .5em;
}

#contact-wrapper p {
	font-size: 1.5em;
	padding-left: .5em;
}

#contact-wrapper li {
	list-style: none;
	text-align: center;
	font-size: 2em;
}

/* Projects */

.mv-tile {
display: inline-block;
opacity: 1;
outline: 0;
overflow: hidden;
position: relative;
vertical-align: top;

}

/* Footer */

footer {
	font-size: .75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.social-icon {
	width: 30px;
	height: 30px;
	margin: 0 10px;
}


/* Colors */

body {
	background-position: center-top;
	background-image: url(https://raw.githubusercontent.com/rbuda/rbuda.github.io/master/assets/imgs/bground.jpg);
}

aside {
	background-color: #ffe3aa;
}

footer {

}




