/* Navigation */

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}

/* Aside */

aside {
	float: right;
	padding-right: 10px;
	border-style: dotted;
	border-width: 1px;
	border-spacing: 50px 50px;
}

/* Picture */
#girlcoder img {
	height: 200px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


/* Blog */

#blog {
	border: solid;
	float: left;
	position: fixed;
}

#blog h1 {
	font-size: 3em;
	font-style: oblique;
}

#blog p {
	font-size: 1.5em;

}

/* Footer */

footer {
	font-size: .75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.social-icon {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}

/* Colors */

body {
	background-position: center-top;
	background-image: <img src = assets/imgs/bground.jpg>;
}

aside {
	background-color: #ffe3aa;
}

footer {
	background-color: #806c15;

}



